<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
	<p>
		<h1 align="center">
			<font size="7" color="blue" face="Georgia">List of student:</font>
		</h1>
	</p>
	<table border="4" align="center" width="80%" cellspacing="8" bordercolor="blue" background="1.jpg">
		<thead bgcolor="white">
			<th> Surname: </th>
			<th> Name: </th>
			<th> Patronymic: </th>
			<th> Study: </th>
			<th> Date of birth: </th>
			<th> City: </th>
			<th> Street: </th>
			<th> Room: </th>
		</thead>
		<tr align="center" bgcolor="skyblue">
			<td> Sharifzoda </td>
			<td> Ahliddin </td>
			<td> Zainudin </td>
			<td> MVD RUS </td>
			<td> 11.06.2002 </td>
			<td> Moscow </td>
			<td> Akademika V-14 </td>
			<td> 159/1 </td>
		</tr>
		<tr align="center" bgcolor="PaleTurquoise">
			<td> Tursunov </td>
			<td> Uktamjon </td>
			<td> Nozimjonovich </td>
			<td> MVD RUS </td>
			<td> 05.01.2003 </td>
			<td> Moscow </td>
			<td> Akademika V-14 </td>
			<td> 159/1 </td>
		</tr>
		<tr align="center" bgcolor="Turquoise">
			<td> isozoda </td>
			<td> Somon </td>
			<td> Bahriddin </td>
			<td> MVD RUS </td>
			<td> 14.10.2002 </td>
			<td> Moscow </td>
			<td> Akademika V-14 </td>
			<td> 159/3 </td>
		</tr>
		<tr align="center" bgcolor="DarkTurquoise">
			<td> Saifuddinzoda </td>
			<td> Khurshed </td>
			<td> Sharofiddin </td>
			<td> MVD RUS </td>
			<td> 05.09.2001 </td>
			<td> Moscow </td>
			<td> Akademika V-14 </td>
			<td> 159/2 </td>
		</tr>
		<tr align="center" bgcolor="aqua">
			<td> Shodiev </td>
			<td> Shodibek </td>
			<td> Umedovich </td>
			<td> MVD RUS </td>
			<td> 21.06.2003 </td>
			<td> Moscow </td>
			<td> Akademika V-14 </td>
			<td> 159/3 </td>
		</tr>

	</table>
	       
    </body>
</html>